.qa__container {
  padding-bottom: 100px;
}

.qa__list {
  list-style-type: none;
  width: 100%;
}
.qa__list li:not(:last-of-type) {
  margin-bottom: 5px;
}
.qaListItem__container {
  background-color: var(--bgColor);
  padding-top: 5px;
  height: 52px;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
  position: relative;
}
.qaListItem__textPosition {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.qaListItem__container hr {
  margin-top: 5px;
}
.qaListItem__answerTextContainer {
  clip-path: polygon(6% 0, 100% 0%, 94% 100%, 0% 100%);
  background-color: var(--secondaryActiveColir);
  padding: 40px 70px;
}
.qaListItem__plusBtn {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 8px;
  transition: all 500ms ease-in-out;
}
.qaListItem__plusBtn * {
  fill: var(--primaryWhiteColor);
}
.activeBtn {
  transform: rotate(180deg);
  border: 1px solid var(--primaryDarkColor);
}
.activeBtn * {
  fill: var(--activeColor);
}
.qaListItem__plusBtn:focus,
.qaListItem__plusBtn:hover {
  scale: 1.25;
}

.qaListItem__textPosition p {
  font-size: 14px;
}

.qaListItem__answerTextContainer {
  height: 211px;
  padding: 17px 50px;
  overflow: scroll;
}

@media screen and (min-width: 768px) {
  .qaListItem__textPosition p {
    font-size: inherit;
  }
  .qaListItem__answerTextContainer {
    padding: 40px 70px;
    height: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .classItem__thumb {
    width: 289px;
    margin-right: 27px;
    margin-left: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .classItem__thumb {
    width: 374px;
  }
  .qaListItem__answerTextContainer {
    overflow: auto;
  }
}
