.logo {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 32px;
  line-height: 1.25;
  background: linear-gradient(90deg, #ff4300 -6.33%, #ff6400 103.92%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
