/* content */

.freeTrialModal_modalContent {
  padding: 0 15px 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 93%;
  background-color: var(--bgColor);
  position: absolute;
  z-index: 5;
}

.content_format {
  display: flex;
  flex-direction: column;
  color: var(--secondaryWhiteColor);
  justify-content: center;
}
.addressList li {
  display: flex;
  align-items: center;
  text-align: start;
}
.addressList li:not(:last-of-type) {
  margin-bottom: 15px;
}
.addressList a {
  transition: all 500ms;
}

.addressList a:hover + .addressIcon *,
.addressList a:focus + .addressIcon * {
  color: var(--activeColor);
  fill: var(--secondaryWhiteColor);
  stroke: var(--activeColor);
}
.addressSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
}

.addressSection address {
  margin-bottom: 15px;
}

.addressIcon {
  width: 30px;
  height: 30px;
  fill: var(--activeColor);
  stroke: var(--secondaryWhiteColor);
  margin-right: 10px;
}
.map {
  display: none;
}
/* ContactUsForm */
.formFromat {
  margin-bottom: 10px;
}
.contactUs__Form {
  margin: 0 auto;
  text-align: start;
}
.formInputArea {
  width: 100%;
  height: 100%;
}
.formIinputFormat {
  position: relative;
  margin-bottom: 20px;
  width: 260px;
  height: 36px;
}
.contactUs__textArea {
  width: 260px;
  padding: 5px;
  background-color: transparent;
  outline: none;
  color: var(--activeColor);

  font-size: 15px;
  border-radius: 5px;
  border: 1px solid var(--activeColor);
}
.contactUs__textArea::placeholder {
  color: var(--secondaryWhiteColor);
}

@media screen and (min-width: 768px) {
  .freeTrialModal_modalContent {
    padding: 0 15px 15px;
    width: 96%;
    height: 87%;
  }
  .content_format {
    gap: 20px;
  }
  .map {
    display: block;
  }
  .addressSection address {
    margin-bottom: 30px;
  }
  .content_format {
    flex-direction: row;
  }
}
