.team__container {
  text-align: center;
  padding-bottom: 102px;
}
.jacobJones {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../../assets/images/team/jacobJones1x-min.jpg');
}
.leslieAlexander {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../../assets/images/team/leslieAlexander1x-min.jpg');
}
.cameronWilliamson {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../../assets/images/team/cameronWilliamson1x-min.jpg');
}
.janeCooper {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../../assets/images/team/janeCooper1x-min.jpg');
}

@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .jacobJones {
    background-image: url('../../assets/images/team/jacobJones2x-min.jpg');
  }
  .leslieAlexander {
    background-image: url('../../assets/images/team/leslieAlexander2x-min.jpg');
  }
  .cameronWilliamson {
    background-image: url('../../assets/images/team/cameronWilliamson2x-min.jpg');
  }
  .janeCooper {
    background-image: url('../../assets/images/team/janeCooper2x-min.jpg');
  }
}
.teamList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .teamList li {
    margin-bottom: 20px;
    padding-top: 15px;
  }
  .teamList {
    overflow: hidden;
  }
}

.teamList_openned {
  height: auto;
}
.teamList_closed {
  height: 530px;
}

@media screen and (min-width: 768px) {
  .teamList_closed {
    height: auto;
  }
  .team_hideBtn {
    display: none;
  }
  .team__container {
    padding-bottom: 102px;
  }
  .teamList li {
    margin-bottom: 20px;
    padding-top: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .teamList li {
    margin-right: 67px;
    margin-bottom: 20px;
  }
  .teamList li:nth-last-child(2n -1) {
    margin-right: 0;
  }
  .teamList li:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1440px) {
  .teamList {
    flex-wrap: nowrap;
  }
  .teamList li:not(:last-of-type) {
    margin-right: 20px;
  }
}
