.vidSection__container {
  display: none;
  padding-top: 100px;
  padding-bottom: 100px;
}
.vidSection__youtubeVideo {
  clip-path: polygon(7% 0, 100% 0%, 93% 100%, 0% 100%);
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .vidSection__container {
    display: block;
  }
}

@media screen and (min-width: 1440px) {
  .styledWrapper__contaner {
    width: 1440px;
  }
}
