.header {
  width: 375px;
  z-index: 2;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.navSection {
  display: none;
}
.header__navList {
  display: flex;
}
.header__navItem:not(:last-of-type) {
  margin-right: 10px;
}
.header__navLink {
  color: var(--primaryWhiteColor);
  background-color: transparent;
  border: none;
  transition: color 500ms;
}
.header__navLink:hover,
.header__navLink:focus {
  color: var(--activeColor);
}
.burgerSection {
  display: block;
}

.header__burgerBtn {
  width: 40px;
  height: 40px;
  fill: var(--activeColor);
  border: none;
  background-color: transparent;
}
.header__burgerBtn:hover,
.header__burgerBtn:focus,
.header__burgerBtn:active {
  fill: var(--primaryWhiteColor);
}

@media screen and (min-width: 768px) {
  .header {
    width: 768px;
    z-index: 2;
    padding: 20px 25px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .header__navItem:not(:last-of-type) {
    margin-right: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    width: 1200px;
    z-index: 2;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .burgerSection {
    display: none;
  }

  .navSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__navList {
    display: flex;
    font-size: 20px;
    width: 574px;
  }
  .header__navItem:not(:last-of-type) {
    margin-right: 40px;
  }
}
