.styledWrapper__contaner {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 36px;
  width: 375px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url('../../../assets/images/UI/backgrounds/styledBackground1x-min.jpg');
}
@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .styledWrapper__contaner {
    background-image: url('../../../assets/images/UI/backgrounds/styledBackground2x-min.jpg');
  }
}

@media screen and (min-width: 768px) {
  .styledWrapper__contaner {
    width: 768px;
  }
}

@media screen and (min-width: 1440px) {
  .styledWrapper__contaner {
    width: 1440px;
  }
}
