.freeTrial__container {
  background-color: var(--activeColor);
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 24px 65px 25px 110px;
  clip-path: polygon(7% 0, 100% 0%, 93% 100%, 0% 100%);
}
.freeTrial__freeTrialBtn {
  width: 317px;
  height: 50px;
  background-color: var(--primaryWhiteColor);
  clip-path: polygon(7% 0, 100% 0%, 93% 100%, 0% 100%);
}
.freeTrial__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 1.6;
  margin-bottom: 20px;
}
.freeTrial__text {
  display: none;
}

@media screen and (min-width: 768px) {
  .freeTrial__title {
    font-size: 40px;
  }
  .freeTrial__text {
    display: block;
    margin-bottom: 30px;
    width: 465px;
    line-height: 1.6;
  }

  .freeTrial__container {
    background-color: var(--activeColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 65px 25px 110px;
    clip-path: polygon(7% 0, 100% 0%, 93% 100%, 0% 100%);
  }
}

@media screen and (min-width: 1440px) {
  .freeTrial__container {
    flex-direction: row;
  }
  .secondaryBtn {
    font-size: 20px;
  }
  .freeTrial__text {
    width: 525px;
    margin-bottom: 0;
  }
}
