/* freeTrial form */
.formFromat {
  margin-bottom: 40px;
}

.freeTrialModal_modalContent {
  padding: 0 15px 15px;
  left: 50%;
  transform: translateX(-50%);
  height: 88%;
  width: 92%;

  background-color: var(--bgColor);
  position: absolute;
  z-index: 5;
}
.freeTrialForm {
  width: 290px;
  margin: 0 auto;
  text-align: center;
}
.formIinputFormat {
  position: relative;
}
.formInputArea {
  position: relative;
  height: 45px;
  margin-bottom: 25px;
}

.selectSection {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.avatarChanger {
  display: flex;
  position: relative;
  flex-direction: row-reverse;
  margin-bottom: 25px;
}
.inputTypeFile {
  display: none;
}
.mockInput {
  background-color: transparent;
  outline: none;
  opacity: 0.5;

  height: 45px;
  width: 207px;
  padding-left: 16px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.mockInputActive {
  border: 1px solid var(--activeColor);
  color: var(--activeColor);
}
.mockInputInactive {
  border: 1px solid var(--secondaryWhiteColor);
  color: var(--secondaryWhiteColor);
}
.mockButton {
  opacity: 0.8;
  border: 1px solid var(--activeColor);
  color: var(--activeColor);
  height: 45px;
  width: 83px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  transition: all 500ms;
  cursor: pointer;
  position: relative;
  left: 1px;
}

.mockButton:hover,
.mockButton:focus {
  opacity: 1;
  color: var(--activeColor);
}

.fileErorr {
  color: var(--errorColor);
  line-height: 1.17;
  position: absolute;
  bottom: -20px;
  width: 100%;
  font-size: 15px;
  left: 50%;
  transform: translate(-50%, 0);
}
.helpInfo {
  position: absolute;
  bottom: 30px;
  font-size: 16px;
  width: 236px;
  left: 50%;
  transform: translate(-50%, 0);
  color: var(--activeColor);
}
@media screen and (min-width: 768px) {
  .freeTrialModal_modalContent {
    width: 96%;
  }
  .formInputArea {
    margin-bottom: 25px;
  }
  .mockButton {
    height: 54px;
    width: 83px;
  }
  .mockInput {
    height: 54px;
    width: 297px;
  }
  .freeTrialForm {
    width: 350px;
  }
  .freeTrialModal_modal {
    width: 800px;
    height: 580px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .helpInfo {
    font-size: 18px;
    width: 320px;
  }
}

@media screen and (min-width: 1440px) {
  .freeTrialModal_modal {
    width: 920px;
  }
}
