.title__container {
  padding-top: 60px;
  padding-bottom: 36px;
  text-align: center;
}

.title__text {
  color: var(--titleColor);
  font-weight: 600;
  font-size: 35px;
}
.title__text::first-letter {
  text-transform: capitalize;
}

@media screen and (min-width: 768px) {
  .title__container {
    padding-top: 100px;
    text-align: center;
  }
  .title__text {
    font-size: 48px;
  }
}
