.downloadApp__container {
  background-color: var(--activeColor);
  position: relative;
  padding: 80px 0 92px 120px;
}

.downloadApp__title {
  font-weight: 600;
  font-size: 48px;
  color: var(--primaryWhiteColor);
  width: 626px;
  height: 164px;
  margin-bottom: 30px;
}
.downloadApp__text {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 60px;
}
.downloadApp__links {
  display: inline-block;
  width: 186px;
  height: 60px;
}
