.downloadApp__container {
  background-color: var(--activeColor);
  position: relative;
  padding: 80px 0 92px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.downloadApp__title {
  margin: 0 auto;
  font-weight: 600;
  font-size: 48px;
  color: var(--primaryWhiteColor);
  width: 626px;
  height: 164px;
  margin-bottom: 30px;
}
.downloadApp__text {
  display: none;
}
.downloadApp__links {
  display: inline-block;
  width: 186px;
  height: 60px;
  border-radius: 10px;
  overflow: hidden;
  transition: all 500ms;
}
.downloadApp__links:first-of-type {
  margin-right: 24px;
}
.downloadApp__links:hover,
.downloadApp__links:focus {
  scale: 1.1;
}
.appAddImage {
  width: 543px;
  height: 520px;
}

@media screen and (min-width: 768px) {
  .styledWrapper__contaner {
    width: 768px;
  }
  .downloadApp__text {
    display: block;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1440px) {
  .downloadApp__container {
    text-align: start;
    display: block;
    padding: 80px 0 92px 120px;
  }
  .downloadApp__title {
    margin: 0;
    font-weight: 600;
    font-size: 48px;
    width: 626px;
    height: 164px;
    margin-bottom: 30px;
  }
  .appAddImage {
    position: absolute;
    right: 111px;
    top: 0;
    width: 543px;
    height: 520px;
  }
}
