.downloadApp__container {
  background-color: var(--activeColor);
  position: relative;
  padding: 80px 0 92px 120px;
}

.downloadApp__title {
  font-weight: 600;
  font-size: 48px;
  color: var(--primaryWhiteColor);
  width: 626px;
  height: 164px;
  margin-bottom: 30px;
}
.downloadApp__text {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 60px;
}
.downloadApp__links {
  display: inline-block;
  width: 186px;
  height: 60px;
  border-radius: 10px;
  overflow: hidden;
  transition: all 500ms;
}
.downloadApp__links:first-of-type {
  margin-right: 24px;
}
.downloadApp__links:hover,
.downloadApp__links:focus {
  scale: 1.1;
}
.appAddImage {
  position: absolute;
  right: 111px;
  top: 0;
  width: 543px;
  height: 520px;
}
