.secondaryBtn {
  clip-path: polygon(7% 0, 100% 0%, 93% 100%, 0% 100%);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.25;
  color: var(--primaryWhiteColor);
  transition: all 500ms;
  border: none;
}

.btnStyleActive {
  background-color: var(--activeColor);
  height: 100%;
  width: 100%;
}
.secondaryBtn:hover,
.secondaryBtn:focus {
  color: var(--activeColor);
  background-color: var(--primaryWhiteColor);
}
.btnStyleTransparent {
  position: absolute;
  height: 96%;
  width: 99%;
  top: 1px;
  left: 1px;
  background-color: var(--primaryDarkColor);
}
.secondaryBtnConatiner {
  position: relative;
}
