.classItem__thumb {
  width: 341px;
  height: 531px;
  text-align: start;
  font-size: 16px;
  font-weight: 500;
  color: var(--secondaryWhiteColor);
  position: relative;
}
.classItem__mainPositioning {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: center;
  margin-left: 17px;
}
.classItem__secondaryPositioning {
  display: flex;
  align-items: center;
}
.classItem__image {
  width: 342px;
  margin-bottom: 20px;
  height: 258px;
  left: 50%;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  z-index: 2;
  transform: translate(-50%, 0);
}

.classItem__image::before {
  content: '';
  position: absolute;
  z-index: 4;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(24, 23, 32, 0) 7%,
    #181722 140%
  );
  pointer-events: none;
}

.classItem__picture {
  width: 96%;
  height: 232px;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  top: 52%;
  z-index: 2;
  transform: translate(-50%, -50%);
}
.classItem__imageBackground {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--activeColor);
  position: absolute;
  clip-path: polygon(0 35%, 100% 73%, 100% 100%, 0% 100%);
  transition: all 500ms;
  animation: changeBackground 5s infinite ease-out;
}
.classItem__imageBackgroundItem {
  height: 20px;
  position: absolute;
  width: 20px;
  border-radius: 50%;
  background-color: var(--activeColor);
}
.classItem__imageBackgroundItemFirst {
  left: 1px;
  bottom: 0px;
  animation: changeItemPosition 4s infinite linear normal;
  animation-delay: 4s;
}
.classItem__imageBackgroundItemSecond {
  right: 1px;
  bottom: 0px;
  animation: changeItemPosition 5s infinite linear normal;
  animation-delay: 3s;
}
@keyframes changeItemPosition {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-60px);
  }
  100% {
    transform: translateY(-210px);
  }
}
@keyframes changeBackground {
  0% {
    clip-path: polygon(0 35%, 100% 73%, 100% 100%, 0% 100%);
  }
  50% {
    clip-path: polygon(0 81%, 100% 33%, 100% 100%, 0% 100%);
  }
  100% {
    clip-path: polygon(0 35%, 100% 73%, 100% 100%, 0% 100%);
  }
}

.classItem__discipline {
  position: relative;
}
.classItem__discipline::before {
  content: '';
  position: absolute;
  height: 6px;
  top: 13px;
  left: -16px;
  width: 6px;
  border-radius: 50%;
  background-color: var(--activeColor);
}
.classItem__icon {
  display: inline-block;
  height: 25px;
  width: 25px;
  margin-right: 5px;
}
.classItem__clasesName {
  font-weight: 600;
  font-size: 24px;
  color: var(--primaryWhiteColor);
}

.classItem__instructor {
  margin-bottom: 10px;
}
.classItem__list {
  margin-bottom: 20px;
  list-style-type: disc;
}
.classItem__list li {
  margin-left: 20px;
}
.classItem__btnGroup {
  display: flex;
  justify-content: space-between;
}
.classItem__learnMoreBtn {
  width: 140px;
  height: 45px;
}
.classItem__freeTrialBtn {
  width: 206px;
  height: 45px;
  position: relative;
  clip-path: polygon(7% 0, 100% 0%, 93% 100%, 0% 100%);
  background-color: var(--primaryWhiteColor);
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .classItem__thumb {
    width: 289px;
    margin-right: 27px;
    margin-left: 16px;
  }
  .classItem__image {
    width: 324px;
    height: 251px;
  }
  .classItem__picture {
    height: 226px;
  }
}

@media screen and (min-width: 1440px) {
  .classItem__image {
    width: 364px;
  }
  .classItem__thumb {
    width: 374px;
  }
}
